.kanban__card-button {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    transition: 0.4s linear;
    cursor: pointer;
}

.kanban__card-button--setting {
    display: none;
    background: url(../images/icons/column-setting.png) center / contain no-repeat;
    top: 50px;
    right: 8px;
    opacity: 0;
}

.kanban__card-button--next {
    display: none;
    background: url(../images/icons/arrow-rigth.png) center / contain no-repeat;
    top: 50px;
    right: 10px;
    opacity: 0;
}