.kanban__card-btn {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    transition: 0.4s linear;
    cursor: pointer;
}

.kanban__card-btn--setting {
    background: url(../images/icons/column-setting.png) center / contain no-repeat;
    top: 50px;
    right: 8px;
}

.kanban__card-btn--next {
    background: url(../images/icons/arrow-rigth.png) center / contain no-repeat;
    top: 50px;
    right: 10px;
}