.kanban__card {
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-width: 330px;
    min-height: 100px;
    margin: 20px 0;
    font-size: 20px;
    text-align: left;
    border: 3px solid deeppink;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    overflow: auto;
    color: #000;
    cursor: pointer;

    &-setting {
        position: absolute;
        top: calc(50% - 72px);
        width: 85%;
        background: rgba(0, 0, 0, 0.8);
        border-radius: 20px;
        font-size: 16px;
        text-align: left;
        padding: 10px;
        border: 1px solid yellow;
        color: #fff;
        visibility: hidden;
        opacity: 0;
    }

    &-item {
        margin: 20px 0;
        cursor: pointer;
    }

    &-name {
        width: 85%;
    }
    
    &-comment {
        width: 85%;
        margin: 20px auto;
        border: 1px solid red;
        border-radius: 15px;
        padding: 10px;
        white-space: pre-wrap;
    }

    &-footer {
        display: flex;
        justify-content: space-between;
    }

    &-close {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 30px;
        height: 30px;
        opacity: 0.5;
        
        &:hover {
            opacity: 0.9;
        }

        &:before {
            position: absolute;
            left: 15px;
            content: ' ';
            height: 30px;
            width: 2px;
            background-color: rgb(172, 44, 44);
            transform: rotate(45deg);
        }

        &:after {
            position: absolute;
            left: 15px;
            content: ' ';
            height: 30px;
            width: 2px;
            background-color: rgb(172, 44, 44);
            transform: rotate(-45deg);
        }
    }    

    
    &-edit {
        position: absolute;
        top: calc(50% - 72px);
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 20px;
        background: rgba(0, 0, 0, 0.8);
        border-radius: 20px;
        font-size: 20px;
        visibility: hidden;
        opacity: 0;
        
        &--name {
            padding: 5px;
            font-size: 20px;
            border-radius: 15px;
        }

        &--comment {
            padding: 5px;
            margin: 10px 0;
            font-size: 20px;
            border-radius: 15px;
        }
        

        &--buttons {
            display: flex;
            justify-content: space-between;
        }

        &--button {
            padding: 5px;
            font-size: 20px;
            width: 40%;
            border-radius: 10px;
        }
    }
}    